In [21]:
import pandas as pd

In [22]:
lgbm = pd.read_csv('LGBM.csv')
#lgbm.sort_values(by="sample_index",inplace=True)
hist = pd.read_csv('HIST.csv')
#hist.sort_values(by="sample_index",inplace=True)
display(lgbm.head(2),
       hist.head(2))

  sample_index    Target
0          0_K  0.977362
1          1_K  0.992343

  sample_index    Target
0          0_K  0.891158
1          1_K  0.988521

In [24]:
ensemble=pd.DataFrame(lgbm.sample_index)
ensemble["Target"]=(lgbm["Target"]*0.5)+(hist["Target"]*0.5)
print(ensemble.shape)
ensemble.to_csv('LGB_REDUCED_50_-HIST_100_.csv', index = False)
ensemble.head(2)

(4616, 2)

  sample_index    Target
0          0_K  0.934260
1          1_K  0.990432